const colors = require("../../colors.json");
const types = require("../../arg_type.json");

module.exports = {
    test: true,
    name: 'name',
    description: 'description',
    args: [],
    callback: ({ client, interaction, args }) => {
        try {
            return;
        } catch {return "Oups, I can't do that"}
    },
}